<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Book list</h1>
    <p><a href="/">Home</a></p>

    <ul>
      <% books.forEach(item => { %>
        <li><img src="<%= item.image %>" alt="book image" ></li>
        <li><%= item.name %></li>
        <li><%= item.author %></li>
        <li><%= item.description %></li>
      <% }) %>
    </ul>
  </body>
</html>