<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/base.css">
  <title>Document</title>
</head>
<body>
  <!-- id=logo is for the book icon -->
  <a href="/" >
    <h1>Best Books!</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/detail">Detail</a></li>
    </ul>
  </nav>
  
  <h2>Search by Title or Author</h2>
  <form method="POST" action="/searches">
    <label class="enter-title">
      <input type="text" name="name" placeholder="Enter a title or author" >
    </label>

    <fieldset>
      <label>Title
        <input type="radio" name="searchName" value="title">
      </label>
    </fieldset>

    <fieldset>
      <label>Author
        <input type="radio" name="searchName" value="author">
      </label>
    </fieldset>

    <button type="submit">Search the Google Books API</button>
  </form>
</body>
</html>